.Palette{
    height: 98%;
}

.palette-holder{
    height: 100vh;
    overflow: hidden;
    padding: 0 1px;
}

.Palette-colors{
    height: 90%;
}

.palette-footer{
    height: 5vh;
    display: flex;
    justify-content: flex-end;
    font-weight: bold;
    align-items: center;
}

.emoji{
    margin: 0 1rem;
}
.slider{
    width: 340px;
    margin: 0 22px;
    display: inline-block;
}

.rc-slider-track{
    background-color: transparent !important;
}

.rc-slider-rail{
    height: 8px !important;
}

.rc-slider-handle{
    height:  20px !important;
    width:  20px !important;
    background-color: blue !important;
    outline: none !important;
    border: 2px solid blue !important;
    box-shadow: none !important;
}